<br>
<h3>
    Lista de Exames
</h3>
<hr>

<table id="tabela_alunos" class="table table-striped table-hover" >  
        <thead>  
          <tr>  
				<th>Ref</th>
				<th>Apelido</th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Tipo</th>
				<th>Categoria</th>  
				<th>Data Marcação</th>
				<th>Data de Exame</th>
				<th>Acção</th>
          </tr>  
        </thead>  
        <tbody>  
				<tr>
					<td>201310</td>
					<td>Macamo</td>
					<td>Ana</td>
					<td>+258845476027</td>
					<td>Teórico</td>
					<td>Pesado(C1)</td>
					<td>09/10/2018</td>
					<td style="color:orange;">Aguardando...</td>
					  <td> <span class="btn btn-default w3-tiny" style="box-shadow: 1px 1px 1px 1px #ccc;margin-top:-4px;margin-bottom:-4px">
                       <i class="glyphicon glyphicon-remove" style="color:red;"></i> Cancelar</span></td> 
				</tr>
				<tr>
					<td>201310</td>
					<td>Laice</td>
					<td>Elton</td>
					<td>+258845476027</td>
					<td>Prático</td>
					<td>Pesado(C1)</td>
					<td>09/10/2018</td>
					<td>30/10/2018</td>
					  <td> <span class="btn btn-default w3-tiny" style="box-shadow: 1px 1px 1px 1px #ccc;margin-top:-4px;margin-bottom:-4px">
                       <i class="glyphicon glyphicon-remove" style="color:red;"></i> Cancelar</span></td> 
				</tr>
        </tbody>  
      </table>  
	  </div>
</body>  
<script>
$(document).ready(function(){
    $('#tabela_alunos').dataTable();
});
</script>
