<br>
<h1>
    Home
</h1>

<p>
    <ol>
        <li>
            First create a MySQL database. 
        </li>
        <li>
            Then replace the DBNAME in app.constant('DATABASE_NAME','DBNAME') located at <em>js/app.js</em> with your database name
        </li>
        <li>
            Then press CTRL+R to reload the application.
        </li>
    </ol>
</p>

<button id="generateReport">Imprimir</button>
<p id="details"></p>

<script>
  const { ipcRenderer } = require('electron')

  const args=[{
    "name": "electron" ,
    "description":"Build cross platform desktop apps with JavaScript, HTML, and CSS"
  }, {
    "name": "jsreport",
    "description": "Innovative and unlimited reporting based on javascript templating engines and web technologies"
  }]

  const generateBtn = document.getElementById('generateReport')
  const detailsEl = document.getElementById('details')

  generateBtn.addEventListener('click', () => {
    detailsEl.innerText = ''

    generateBtn.disabled = true
    generateBtn.innerText = 'Rendering..'

    ipcRenderer.send('render-start', args)
  })

  ipcRenderer.on('render-finish', (ev, data) => {
    generateBtn.disabled = false
    generateBtn.innerText = 'Generate Report'

    if (data && data.errorText) {
      detailsEl.innerText = data.errorText
    }
  })
  </script>




