<br>
<br>
<ol class="breadcrumb">
  <li><a ui-sref="home">Início</a></li>
  <li><a ui-sref="product-list">Alunos</a></li>
  <li class="active">Registar Novo Aluno</li>
</ol>

<h3>
    Registar Novo Aluno
</h3>


  <!-- Default panel contents -->
  <div >
  <form method="POST" action="{!!url('adicionar')!!}" style="padding-left:50px;padding-right:50px;padding-bottom:30px;">
   <h4 align="center">PARTE 1 - DADOS PESSOAIS</h4>
   <hr>
   
    <div class="form-row">
    <div class="form-group col-md-6">
     <label for="exampleInputEmail1">Apelido</label>
    <input name="nome" type="text" class="form-control" placeholder="Apelido...">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1">Nome</label>
    <input name="nome" type="text" class="form-control" placeholder="Nome...">
    </div>
  </div>  

    <div class="form-row">
    <div class="form-group col-md-4">
     <label for="exampleInputEmail1">Bilhete de Identidade</label>
    <input name="bi" type="text" class="form-control" placeholder="BI...">
    </div>
    <div class="form-group col-md-4">
      <label for="exampleInputEmail1">Email</label>
    <input name="email" type="email" class="form-control" placeholder="Email...">
    </div>
     <div class="form-group col-md-4">
     <label for="exampleInputEmail1">Telefone</label>
    <input name="telefone" type="text" class="form-control" placeholder="Telefone...">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Sexo</label>
	  <div class="radio">
	  <label>
	    <input type="radio" name="sexo" id="optionsRadios1" value="masculino" checked>
	    Masculino&nbsp
	  </label>
	  <label>
	    <input type="radio" name="sexo" id="optionsRadios2" value="femenino">
	    Feminino
	  </label>
	</div>
    </div>
    <div class="form-group col-md-4">
     <label for="exampleInputEmail1">Data de Nascimento</label>
    <input name="data_nascimento" type="date" class="form-control" >
    </div>
     <div class="form-group col-md-4">
     <label for="exampleInputEmail1">Naturalidade:</label>

	<select id="select_provincia" name="select_provincia" class="form-control">
	  <option value="0">SELECCIONAR A PROVÍNCIA</option>
	    <option value="Maputo-Cidade">Maputo-Cidade</option>
	    <option value="Maputo-Província">Maputo-Província</option>
	    <option value="Gaza">Gaza</option>
	    <option value="Inhambane">Inhambane</option>
	    <option value="Sofala">Sofala</option>
	    <option value="Manica">Manica</option>
	    <option value="Tete">Tete</option>
	    <option value="Zambézia">Zambézia</option>
	    <option value="Nampula">Nampula</option>
	    <option value="Cabo-Delgado">Cabo-Delgado</option>
	    <option value="Niassa">Niassa</option>
	</select>
    </div>
  </div>

<div class="form-row">
  <div class="form-group col-md-12">
    <label for="exampleInputEmail1">Endereço</label>
   <input name="nome" type="text" class="form-control" placeholder="Endereço...">
  </div>
  </div>



   <div class="form-row">
   <div class="form-group col-md-12">
    <h4 align="center">PARTE 2 - DADOS DE CATEGORIA</h4>
   <hr>

 <div class="form-group col-md-6">
   <label for="exampleInputEmail1">Categoria:</label>

<select id="select_universidade" name="select_universidade" class="form-control">
  <option value="0">SELECCIONAR A CATEGORIA</option>
    <option value="Motociclos">Motociclos (A) - 5.000 MT</option>
    <option value="Motociclos">Motociclos (A1) - 6.000 MT</option>
    <option value="Ligeiros">Ligeiros (B) - 8.000 MT</option>
    <option value="Pesados">Pesados (C1) - 9.500 MT</option>
    <option value="Pesados">Pesados (C) - 10.000 MT</option>
    <option value="Profissional">Profissional (EB) - 11.000 MT</option>
    <option value="Profissional">Profissional - 12.000 MT</option>

</select>
</div>
 </div>
 </div>
  
  <div class="form-row">
   <div class="form-group col-md-12">
<h4 align="center">PARTE 3 - DOCUMENTOS</h4>
   <hr>
  </div>
  </div>

   <table id="tabela_alunos" class="table table-striped" >  
		        <thead>  
		          <tr>  
		                <th>#</th>
						<th>Entrega</th>
						<th>Tipo de documento</th>
		          </tr>  
		        </thead>  
		        <tbody>  
					<tr>
						
						<td>1</td>
						<td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
						<td>Fotocópia de BI</td>
					</tr>
					<tr>
						<td>2</td>
						<td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
						<td>Atestado Médico</td>
					</tr>
					<tr>
						<td>2</td>
						<td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
						<td>Registo Criminal</td>
					</tr>
					<tr>
						<td>2</td>
						<td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
						<td>Declaração Militar</td>
					</tr>

		        </tbody>  
		      </table>  



<hr>
<button type="submit" class="btn btn-info" style="box-shadow: 1px 2px 2px 1px #ccc;"><b>Salvar</b></button>&nbsp&nbsp
<a href="{!!url('/')!!}"><button type="button" class="btn btn-default" style="box-shadow: 1px 2px 2px 1px #ccc;"><b>Cancelar</b></button></a>

<br><br><br>
</form>

 </div>
