<br>
<h3>
    Lista de alunos
</h3>
<hr>

<div class="row">
	<div class="col-md-8">
	    <a  ui-sref="product-create" class="btn btn-default" style="box-shadow: 1px 2px 2px 1px #ccc;"><i class="glyphicon glyphicon-plus"></i>&nbsp<b>Registar Aluno</b></a>
        
<br><br><br>
		<table id="tabela_alunos" class="table table-striped table-hover" >  
		        <thead>  
		          <tr>  
						<th>Ref</th>
						<th>Apelido</th>
						<th>Nome</th>
						<th>BI</th>
						<th>Telefone</th>
						<th>Categoria</th> 
						<th>Situação</th> 
		          </tr>  
		        </thead>  
		        <tbody>  
					<tr>
						<td>201310</td>
						<td>Macamo</td>
						<td>Ana</td>
						<td>2013101010101A</td>
						<td>+258845476027</td>
						<td>Pesado(C1)</td>
						<td style="color:blue">Aulas Teóricas</td>
					</tr>
					<tr>
						<td>201311</td>
						<td>Laice</td>
						<td>Elton</td>
						<td>2013101010101A</td>
						<td>+258845476027</td>
						<td>Pesado(C1)</td>
						<td style="color:green">Concluído</td>
					</tr>
		        </tbody>  
		      </table>  
			  </div>
		</body>  
		<script>
		$(document).ready(function(){
		    $('#tabela_alunos').dataTable();
		});
		</script>
	
	<div class="col-md-4" style="padding-left:10px">
	   

	<div class="row" >
    	 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-radius: 16px;">
                        <div class="well profile col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <figure>
                                     <img src="img/perfil.png" alt="" class="img-circle" style="width:80px;" id="user-img">
                                </figure>
                         
                    <h5 style="text-align:center;"><strong id="user-name">Silvestre Maxlhaieie</strong></h5>
                    <p style="text-align:center;font-size: smaller;" id="user-frid"><b>Ref:</b> 201310 </p>
                    <hr>
                    
                    <table align="center">
                    	
                    	<tr>
                            <td style="text-align:right;font-size: smaller;padding:1%"><b>BI:</b></td>
                            <td style="text-align:left;font-size: smaller;padding:1%">  110320000213A </td>
                    	<tr>
                    	<tr>
                            <td style="text-align:right;font-size: smaller;padding:1%"><b>Data de Nascimento:</b></td>
                            <td style="text-align:left;font-size: smaller;padding:1%">  29/112/1985 </td>
                    	<tr>
                    	<tr>
                            <td style="text-align:right;font-size: smaller;padding:1%"><b>Sexo:</b></td>
                            <td style="text-align:left;font-size: smaller;padding:1%">  Masculino </td>
                    	<tr>
                    	<tr>
                            <td style="text-align:right;font-size: smaller;padding:1%"><b>Naturalidade:</b></td>
                            <td style="text-align:left;font-size: smaller;padding:1%">  Maputo-Cidade </td>
                    	<tr>
                    	<tr>
                            <td style="text-align:right;font-size: smaller;padding:1%"><b>Contacto:</b></td>
                            <td style="text-align:left;font-size: smaller;padding:1%"> +258 84 69 69 132 </td>
                    	<tr>
                    	<tr>
                            <td style="text-align:right;font-size: smaller;padding:1%"><b>Email:</b></td>
                            <td style="text-align:left;font-size: smaller;padding:1%">  silvestresergiom@gmail.com </td>
                    	<tr>
                    	<tr>
                            <td style="text-align:right;font-size: smaller;padding:1%"><b>Endereço:</b></td>
                            <td style="text-align:left;font-size: smaller;padding:1%">  Maputo, Hulene A, casa 20 </td>
                    	<tr>
                    	<tr>
                            <td style="text-align:right;font-size: smaller;padding:1%"><b>Categoria:</b></td>
                            <td style="text-align:left;font-size: smaller;padding:1%">  PESADOS (C1) </td>
                    	<tr>
                    	<tr>
                            <td style="text-align:right;font-size: smaller;padding:1%"><b>Data da Inscrição:</b></td>
                            <td style="text-align:left;font-size: smaller;padding:1%">  13/02/2018 </td>
                    	<tr>

                    </table>
                  
                    <hr>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center" ></div>
                    <div class="col-lg-4 left" style="text-align:center;overflow-wrap: break-word;">
                        <h5><p style="text-align: center;"><strong id="user-globe-rank">Captação INATTER</strong></p></h5>           
                        <p><small class="label label-success">Aprovado</small></p>
                        <!--<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>-->
                    </div>
                    <div class=" col-lg-4 left" style="text-align:center;overflow-wrap: break-word;">
                        <h5><p style="text-align: center;"><strong id="user-college-rank">Exame Teórico</strong></p></h5>                   
                        <p> <small class="label label-warning">Marcado</small></p>
                        <!-- <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
                    </div>
                    <div class=" col-lg-4 left" style="text-align:center;overflow-wrap: break-word;">
                        <h5><p style="text-align: center;"><strong id="user-college-rank">Exame Prático</strong></p></h5>                   
                        <p> <small class="btn btn-default" style="box-shadow: 1px 1px 1px 1px #ccc;">Marcar</small></p>
                        <!-- <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
                    </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
	</div>



	</div>
</div>
